ACTION=="add", SUBSYSTEM=="module", DEVPATH="/module/maccel", RUN+="maccel_param_ownership_and_resets"

ACTION=="remove", GOTO="maccel_end"
SUBSYSTEMS=="usb|input|hid", ATTRS{bInterfaceClass}=="03", ATTRS{bInterfaceSubClass}=="01", ATTRS{bInterfaceProtocol}=="02", RUN+="maccel_param_ownership_and_resets"

LABEL="maccel_end"
